In [55]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
print(os.listdir("BankingData/data"))

['application_test.csv', 'HomeCredit_columns_description.csv', 'POS_CASH_balance.csv', 'credit_card_balance.csv', 'installments_payments.csv', 'application_train.csv', 'bureau.csv', 'previous_application.csv', 'bureau_balance.csv', 'sample_submission.csv']

In [57]:
app_train = pd.read_csv('BankingData/data/application_train.csv')
print('Training data shape: ', app_train.shape)
app_train.head()

# Séparer les données en ensembles de formation et de test
train_data, test_data = train_test_split(app_train, test_size=0.3)

# Afficher les formes des nouvelles bases de données
print('Train data shape: ', train_data.shape)
print('Test data shape: ', test_data.shape)

# Afficher les premières lignes de chaque base de données
print('Train data head:\n', train_data.head())
print('Test data head:\n', test_data.head())

# Exporter les ensembles train et test en fichiers CSV
train_data.to_csv('BankingData/data/application_train_split.csv', index=False)
test_data.to_csv('BankingData/data/application_test_split.csv', index=False)

print('Les fichiers ont été exportés avec succès.')

Training data shape:  (307511, 122)
Train data shape:  (246008, 122)
Test data shape:  (61503, 122)
Train data head:
         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
123473      243191       0         Cash loans           F            Y
10118       111778       0         Cash loans           M            N
64716       175057       1         Cash loans           M            Y
234940      372147       0         Cash loans           M            Y
236051      373412       0         Cash loans           M            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
123473               N             0          171000.0    555273.0
10118                Y             1          157500.0    198085.5
64716                Y             0          135000.0    776304.0
234940               Y             1          164133.0    900000.0
236051               Y             0          225000.0    533668.5

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
123473      16366.5  ...                 0                0                0
10118       23638.5  ...                 0                0                0
64716       25173.0  ...                 0                0                0
234940      36787.5  ...                 0                0                0
236051      21294.0  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
123473                0                        0.0                       0.0
10118                 0                        0.0                       0.0
64716                 0                        0.0                       0.0
234940                0                        0.0                       0.0
236051                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
123473                         0.0                        0.0
10118                          0.0                        0.0
64716                          0.0                        0.0
234940                         0.0                        0.0
236051                         0.0                        0.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
123473                        1.0                         1.0
10118                         0.0                         1.0
64716                         0.0                         5.0
234940                        1.0                         3.0
236051                        0.0                         4.0

[5 rows x 122 columns]
Test data head:
         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
245895      384575       0         Cash loans           M            Y
98194       214010       0         Cash loans           F            Y
36463       142232       0         Cash loans           F            Y
249923      389171       0         Cash loans           F            N
158389      283617       0         Cash loans           M            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
245895               N             2          207000.0    465457.5
98194                Y             0          247500.0   1281712.5
36463                N             0          202500.0    495000.0
249923               Y             0          247500.0    254700.0
158389               Y             0          112500.0    308133.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
245895      52641.0  ...                 0                0                0
98194       48946.5  ...                 0                0                0
36463       39109.5  ...                 0                0                0
249923      24939.0  ...                 0                0                0
158389      15862.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
245895                0                        0.0                       0.0
98194                 0                        0.0                       0.0
36463                 0                        0.0                       0.0
249923                0                        0.0                       0.0
158389                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
245895                         0.0                        1.0
98194                          0.0                        1.0
36463                          0.0                        1.0
249923                         0.0                        0.0
158389                         0.0                        0.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
245895                        0.0                         1.0
98194                         0.0                         3.0
36463                         0.0                         3.0
249923                        0.0                         0.0
158389                        0.0                         4.0

[5 rows x 122 columns]
Les fichiers ont été exportés avec succès.